{{ partial "top_list_projects.html" . }}

{{ $paginator := .Paginate (where .Data.Pages ".Section" "projects") }}
<div class='row'>
  <div class='col-md-8'>
    {{ partial "paginator.html" . }}
{{ range $index, $element := $paginator.Pages }}

<article class='post'>
  {{ partial "post_header_list.html" . }}
  <section class='post-content'>
    {{.Content }}
  </section>
</article>

{{ end }}

{{ partial "paginator.html" . }}

</div>
{{ partial "side_menu_list.html" . }}
</div>

{{ partial "bottom_list.html" . }}
