<nav class='menu sub-nav'>
  <span class="menu-heading">{{ .Section | humanize }} Categories</span>
  <a class='menu-item selected' data-slug='all' href='/{{ .Section }}'>All posts</a>
  {{ $hereSection := .Section }}
  {{/* Get current taxonomy (example: tags, categories). */}}
  <!-- {{ $taxonomy := .Data.Plural }} -->
  {{ $taxonomy := "tags" }}
  {{/* Get sections where one or more pages has one or more terms in the current taxonomy. */}}
  {{ $sections := slice }}
  {{ range $term, $weightedPages := index site.Taxonomies $taxonomy }}
    {{ range $weightedPages }}
      {{ $sections = $sections | append .CurrentSection | uniq | sort }}
    {{ end }}
  {{ end }}
  {{/* List pages by term by section. */}}
  {{ range $section := (where $sections ".Path" $hereSection) }}
    {{ range $term, $weightedPages := index site.Taxonomies $taxonomy }}
      {{ $termPage := site.GetPage path.Join $taxonomy $term }}
      {{ with where $weightedPages "Section" $section.Path }}
        <a href="{{ $termPage.RelPermalink }}" class='menu-item' data-slug='{{ $termPage.LinkTitle }}' title="All pages with tag <i>{{ $termPage.LinkTitle }}</i>">{{ $termPage.LinkTitle }}</a>
      {{ end }}
    {{ end }}
  {{ end }}
</nav>
