<nav class='menu sub-nav'>
  <span class="menu-heading">{{ .Section | humanize }} Categories</span>
  <a class='menu-item selected' data-slug='all' href='/{{ .Section }}'>All posts</a>
  {{ $hereSection := .Section }}
  {{/* Get current taxonomy (example: tags, categories). */}}
  <!-- {{ $taxonomy := .Data.Plural }} -->
  {{ $taxonomy := "tags" }}
  {{/* Get sections where one or more pages has one or more terms in the current taxonomy. */}}
  {{ $terms := slice }}
  {{ range $term, $weightedPages := index site.Taxonomies $taxonomy }}
    {{ range $weightedPage := $weightedPages }}
      {{ if (eq $hereSection $weightedPage.Section) }}
        {{ $terms = $terms | append $term | uniq }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* List pages by term by section. */}}
  {{ range $term := $terms }}
    {{ $termPage := site.GetPage path.Join $taxonomy $term }}
    <a href="{{ $termPage.RelPermalink }}" class='menu-item' data-slug='{{ $termPage.LinkTitle }}' title="All pages with tag <i>{{ $termPage.LinkTitle }}</i>">{{ $termPage.LinkTitle }}</a>
  {{ end }}
</nav>
