<footer class='site-footer clearfix container text-muted'>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
      <a data-scroll='true' href='#top'>
        <i class='fa fa-arrow-up'></i> Back to top </a>
    </div>
    <div class='col-md-6 text-right'>
      <p>
        <strong>FLEAR</strong> &copy; 2023 to present
      </p>
      <p>
        <a href='https://git.qoto.org/flear/flear-site'>Get source</a> by <a href='https://jeffreyfreeman.me'>Jeffrey Phillips Freeman</a>
      </p>
    </div>
  </div>
</footer>
