<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="iem7"><![endif]-->
<html lang="{{.Page.Lang}}">
<head lang="{{.Page.Lang}}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ range $.Page.AllTranslations }}
  <link rel="alternate" hreflang="{{.Lang}}" href="{{.Permalink}}" />{{if eq .Lang "en"}}
  <link rel="alternate" hreflang="x-default" href="{{.Permalink}}" />{{end}}
  {{ end }}
  <link rel="canonical" href="{{ .Page.Permalink }}" />
  <meta name="author" content="{{ .Site.Params.siteAuthor }}">
  <link rel="webmention" href="https://webmention.io/{{ (urls.Parse site.BaseURL).Hostname }}/webmention" />
  <link rel="pingback" href="https://webmention.io/{{ (urls.Parse site.BaseURL).Hostname }}/xmlrpc" />
  <meta name="supported-color-schemes" content="light dark">
  <meta name="theme-color" content="{{ if .Params.themecolor }}#{{ .Params.themecolor}}{{ else }}#000000{{ end }}">

  {{ if (and .Permalink (not .IsHome)) }}
    <link href="{{ .Permalink | safeURL }}status" rel='alternate' type='application/activity+json'>
  {{end}}

  <meta property="og:site_name" content="{{ site.Params.siteName }}">

  <!-- Indicates the twitter account that is the source for this webpage -->
  <meta property="twitter:site" content="@{{ site.Params.twitterUser }}">
  <meta property="twitter:creator" content="@{{ site.Params.twitterUser }}">

  <meta property="og:type" content="website" />
  <meta property="twitter:card" content="summary_large_image">

  {{if .Params.image_header}}
    <meta property="twitter:image" content="{{.Params.image_header}}">
    <meta property="og:image" content="{{.Params.image_header}}">
  {{ else if .IsHome }}
    <meta property="twitter:image" content="/images/logo.png">
    <meta property="og:image" content="/images/logo.png">
  {{else}}
    {{ $tags := .Params.tags}}
    {{ if .Params.social_image_url }}
      {{ $socialURL := printf "%sapi/card?%s" site.BaseURL (querify "title" .Title "imgUrl" .Params.social_image_url ) }}
      <meta property="twitter:image" {{ printf "content=%q" $socialURL |  safeHTMLAttr}}>
      <meta property="og:image" {{ printf "content=%q" $socialURL |  safeHTMLAttr}}>
    {{else if .Title}}
      {{ $socialURL := printf "%sapi/card?%s" site.BaseURL (querify "title" .Title) }}
      <meta property="twitter:image" {{ printf "content=%q" $socialURL |  safeHTMLAttr}}>
      <meta property="og:image" {{ printf "content=%q" $socialURL |  safeHTMLAttr}}>
    {{ else }}
      <meta property="twitter:image" content="{{ site.BaseURL }}images/logo.png">
      <meta property="og:image" content="{{ site.BaseURL }}images/logo.png">
    {{end}}
  {{end}}

  {{ if .Title }}
    <title>{{ site.Params.siteName }}: {{ .Title }}</title>
    <meta property="og:title" content="{{ .Title }}">
    <meta property="twitter:title" content="{{ .Title }}">
  {{ else if site.Title }}
    <title>{{ site.Params.siteName }}: {{ site.Title }}</title>
    <meta property="og:title" content="{{ site.Title }}">
    <meta property="twitter:title" content="{{ site.Title }}">
  {{ else }}
    <title>{{ site.Params.siteName }}</title>
    <meta property="og:title" content="{{ site.Params.siteName }}">
    <meta property="twitter:title" content="{{ site.Params.siteName }}">
  {{end}}

  {{ if .Permalink }}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="twitter:url" content="{{ .Permalink }}">
  {{end}}

  <!-- If there is an article with a description front matter then use that, otherwise fallback to the site wide description -->
  {{if .Description}}
    <meta property="og:description" content="{{ .Description }}">
    <meta property="description" content="{{ .Description }}">
    <meta property="twitter:description" content="{{ .Description }}">
  {{else}}
    <meta property="og:description" content="{{ site.Params.siteDescription }}">
    <meta property="description" content="{{ site.Params.siteDescription }}">
    <meta property="twitter:description" content="{{ site.Params.siteDescription }}">
  {{end}}

  <script defer src="/_vercel/insights/script.js"></script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "{{ site.Params.apUser }}",
      "url": {{ site.BaseURL }},
      "sameAs": [
        "https://twitter.com/{{ site.Params.twitterUser }}",
        {{ site.Params.repoUrl }},
      ]
    }
  </script>
{{ if eq .Type "page" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "headline": {{ if .Title }}{{.Title }}{{ else if site.Title }}{{ site.Title }}{{ else }}{{ site.Params.siteName}}{{ end }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" }}",
  "author": {
    "@type": "Person",
    "name": {{ site.Params.apUser }},
    "url": {{ site.BaseURL }}
  },
  "description": "{{if .Description}}{{ .Description }}{{else if .Summary}}{{.Summary}}{{else}}{{ site.Params.siteDescription }}{{end}}"
}
</script>
{{ end }}
<link href="{{ site.BaseURL }}{{ site.Params.apUser | lower }}" rel="alternate" type="application/activity+json">
<link href="/images/logo.png" rel="icon">
<link href="/manifest.json" rel="manifest">
<link rel="home" href="{{.Site.BaseURL}}">
<style>
  header.with-background {
    {{ if .Params.image_header }}background-image: url('{{ .Params.image_header}}');{{ end }}
  }
</style>

<link rel="stylesheet" href="/css/goblin.css">
<link rel="stylesheet" href="/css/fontawesome.css">
<link rel="stylesheet" href="/css/primer.css">
<!-- <link rel="stylesheet" href="/css/ghost.css"> -->
<link rel="stylesheet" href="/css/flex.css">
<link rel="stylesheet" href="/css/glyphicons.css">
<link rel="stylesheet" href="/css/pseudocode.css">
<link rel="stylesheet" href="/javascripts/cal-heatmap/cal-heatmap.css">
<link rel="stylesheet" href="/css/main.css">

{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

<script type="text/javascript" src="/javascripts/cal-heatmap/cal-heatmap.js"></script>
<script type="text/javascript" src="/javascripts/pseudocode.js"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/head.js"></script>
<script type="text/javascript" >
document.addEventListener("DOMContentLoaded", function() {
    var blocks = document.getElementsByClassName("pseudocode");
    for(var blockId = 0; blockId < blocks.length; blockId++) {
      var block = blocks[blockId];

      var code = block.textContent;
      var options = {
        lineNumber: true
      };

      var outputEl = document.createElement('div');
      outputEl.className += " pseudocode-out";
      block.parentNode.insertBefore(outputEl, block.nextSibling);

      pseudocode.render(code, outputEl, options);
    }

    while( blocks[0]) {
      blocks[0].parentNode.removeChild(blocks[0]);
    }
});
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js", "TeX/color.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { fonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="/javascripts/mathjax/tex-chtml-full.js"></script>

<script type="text/javascript" src="/javascripts/d3.js"></script>
<script type="text/javascript" src="/javascripts/popperjs/popper.js"></script>
<script type="text/javascript" src="/javascripts/cal-heatmap/cal-heatmap.js"></script>
<script type="text/javascript" src="/javascripts/cal-heatmap/plugins/Legend.js"></script>
<script type="text/javascript" src="/javascripts/cal-heatmap/plugins/LegendLite.js"></script>
<script type="text/javascript" src="/javascripts/cal-heatmap/plugins/Tooltip.js"></script>
<script type="text/javascript" src="/javascripts/cal-heatmap/plugins/CalendarLabel.js"></script>
<script type="module">


  var getJSON = function(url, callback) {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', url, false);
      xhr.setRequestHeader("content-type", "application/json");
      xhr.setRequestHeader("Accept", "application/json");
      xhr.send();
      return xhr.response
  };


  // Get the data as a String of JSON
  const data = JSON.parse(getJSON('{{ .Site.Params.gitlabHeatmapData }}'));

  // Convert string to JSON
  const dataMap = new Map(Object.entries(data));

  //convert JSON to an array of maps
  const newData = []
  for( let [entry, value] of dataMap ) {
    newData.push({"date": entry, "value": value});
  }

  const d = new Date();
  const lastYear = d.setMonth(d.getMonth() - 11);

  // Now render it.
  const cal = new CalHeatmap();
  cal.paint({
    data: {
      source: newData,
      type: 'json',
      x: 'date',
      y: 'value',
      groupY: 'max',
    },
    date: { start: lastYear },
    range: 12,
    scale: {
      color: {
        type: 'threshold',
        range: ['#0000FF', '#3000CF', '#60009F', '#90006F', '#C0003F', '#F0000F', '#FF0000'],
        domain: [2, 3, 5, 8, 13, 21],
      },
    },
    domain: {
      type: 'month',
      gutter: 4,
      label: { text: 'MMM', textAlign: 'start', position: 'top' },
    },
    subDomain: { type: 'ghDay', radius: 2, width: 11, height: 11, gutter: 4 },
  },
  [
    [
      Legend,
      {
        tickSize: 1,
        width: 100,
        itemSelector: '#cal-heatmap-legend',
        label: 'Activity per day',
      },
    ],
    [
      Tooltip,
      {
        text: function (date, value, dayjsDate) {
          return (
            (value ? value : 'No') +
            ' contributions on ' +
            dayjsDate.format('dddd, MMMM D, YYYY')
          );
        },
      },
    ],
    [
      CalendarLabel,
      {
        width: 30,
        textAlign: 'start',
        text: () => dayjs.weekdaysShort().map((d, i) => (i % 2 == 0 ? '' : d)),
        padding: [25, 0, 0, 0],
      },
    ],
  ]
);

</script>

</head>
