<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="iem7"><![endif]-->
<html lang="{{.Page.Lang}}">
<head lang="{{.Page.Lang}}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ range $.Page.AllTranslations }}
  <link rel="alternate" hreflang="{{.Lang}}" href="{{.Permalink}}" />{{if eq .Lang "en"}}
  <link rel="alternate" hreflang="x-default" href="{{.Permalink}}" />{{end}}
  {{ end }}
  <link rel="canonical" href="{{ .Page.Permalink }}" />
  <meta name="author" content="{{ .Site.Params.siteAuthor }}">
  <link rel="webmention" href="https://webmention.io/{{ (urls.Parse site.BaseURL).Hostname }}/webmention" />
  <link rel="pingback" href="https://webmention.io/{{ (urls.Parse site.BaseURL).Hostname }}/xmlrpc" />
  <meta name="supported-color-schemes" content="light dark">
  <meta name="theme-color" content="{{ if .Params.themecolor }}#{{ .Params.themecolor}}{{ else }}#000000{{ end }}">

  {{ if (and .Permalink (not .IsHome)) }}
    <link href="{{ .Permalink | safeURL }status.ajson" rel='alternate' type='application/activity+json'>
  {{end}}

  <meta property="og:site_name" content="{{ site.Params.siteName }}">

  <!-- Indicates the twitter account that is the source for this webpage -->
  <meta property="twitter:site" content="@{{ site.Params.twitterUser }}">
  <meta property="twitter:creator" content="@{{ site.Params.twitterUser }}">

  <meta property="og:type" content="website" />
  <meta property="twitter:card" content="summary_large_image">

  {{if .Params.image_header}}
    <meta property="twitter:image" content="{{.Params.image_header}}">
    <meta property="og:image" content="{{.Params.image_header}}">
  {{ else if .IsHome }}
    <meta property="twitter:image" content="/images/logo.png">
    <meta property="og:image" content="/images/logo.png">
  {{else}}
    {{ $tags := .Params.tags}}
    {{ if .Params.social_image_url }}
      {{ $socialURL := printf "%sapi/card?%s" site.BaseURL (querify "title" .Title "imgUrl" .Params.social_image_url ) }}
      <meta property="twitter:image" {{ printf "content=%q" $socialURL |  safeHTMLAttr}}>
      <meta property="og:image" {{ printf "content=%q" $socialURL |  safeHTMLAttr}}>
    {{else if .Title}}
      {{ $socialURL := printf "%sapi/card?%s" site.BaseURL (querify "title" .Title) }}
      <meta property="twitter:image" {{ printf "content=%q" $socialURL |  safeHTMLAttr}}>
      <meta property="og:image" {{ printf "content=%q" $socialURL |  safeHTMLAttr}}>
    {{ else }}
      <meta property="twitter:image" content="{{ site.BaseURL }}images/logo.png">
      <meta property="og:image" content="{{ site.BaseURL }}images/logo.png">
    {{end}}
  {{end}}

  {{ if .Title }}
    <title>{{ site.Params.siteName }}: {{ .Title }}</title>
    <meta property="og:title" content="{{ .Title }}">
    <meta property="twitter:title" content="{{ .Title }}">
  {{ else if site.Title }}
    <title>{{ site.Params.siteName }}: {{ site.Title }}</title>
    <meta property="og:title" content="{{ site.Title }}">
    <meta property="twitter:title" content="{{ site.Title }}">
  {{ else }}
    <title>{{ site.Params.siteName }}</title>
    <meta property="og:title" content="{{ site.Params.siteName }}">
    <meta property="twitter:title" content="{{ site.Params.siteName }}">
  {{end}}

  {{ if .Permalink }}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="twitter:url" content="{{ .Permalink }}">
  {{end}}

  <!-- If there is an article with a description front matter then use that, otherwise fallback to the site wide description -->
  {{if .Description}}
    <meta property="og:description" content="{{ .Description }}">
    <meta property="description" content="{{ .Description }}">
    <meta property="twitter:description" content="{{ .Description }}">
  {{else}}
    <meta property="og:description" content="{{ site.Params.siteDescription }}">
    <meta property="description" content="{{ site.Params.siteDescription }}">
    <meta property="twitter:description" content="{{ site.Params.siteDescription }}">
  {{end}}

  <script defer src="/_vercel/insights/script.js"></script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "{{ site.Params.apUser }}",
      "url": {{ site.BaseURL }},
      "sameAs": [
        "https://twitter.com/{{ site.Params.twitterUser }}",
        {{ site.Params.repoUrl }},
      ]
    }
  </script>
{{ if eq .Type "page" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "headline": {{ if .Title }}{{.Title }}{{ else if site.Title }}{{ site.Title }}{{ else }}{{ site.Params.siteName}}{{ end }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05" }}",
  "author": {
    "@type": "Person",
    "name": {{ site.Params.apUser }},
    "url": {{ site.BaseURL }}
  },
  "description": "{{if .Description}}{{ .Description }}{{else if .Summary}}{{.Summary}}{{else}}{{ site.Params.siteDescription }}{{end}}"
}
</script>
{{ end }}
<link href="{{ site.BaseURL }}{{ site.Params.apUser | lower }}" rel="alternate" type="application/activity+json">
<link href="/images/logo.png" rel="icon">
<link href="/manifest.json" rel="manifest">
<link rel="home" href="{{.Site.BaseURL}}">
<style>
  {{ $main := resources.Get "css/main.css" }}
  {{ $goblin := resources.Get "css/goblin.css" }}
  {{ $fa := resources.Get "css/fontawesome.css" }}
  {{ $primer := resources.Get "css/primer.css" }}
  {{ $ghost := resources.Get "css/ghost.css" }}
  {{ $glyph := resources.Get "css/glyphicons.css" }}

  {{ $css := slice $main $goblin $fa $primer $ghost $glyph | resources.Concat "css/bundle.css"  }}
  {{ $minifiedCSS := $css | minify}}
  {{ $minifiedCSS.Content | safeCSS }}

  header.with-background {
    {{ if .Params.image_header }}background-image: url('{{ .Params.image_header}}');{{ end }}
  }
</style>
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

<script>
{{ $jqueryJS := resources.Get "javascripts/jquery.js" | minify }}
{{ $jqueryJS.Content | safeJS }}
</script>

  <script>
let type='{{.Kind}}';
{{ $headJS := resources.Get "javascripts/head.js" | minify }}
{{ $headJS.Content | safeJS }}
  </script>
</head>
