<nav class="navbar navbar--light navbar--fixed-top">
	<div class="navbar__inner">
		<div class="navbar__items navbar__items--left navbarItems_1xGM">
			<a aria-current="page" class="navbar__brand active" href="/">
				<img class="navbar__logo logo--light" src="/images/logo-header-light.png" alt="{{ site.Params.siteName }}">
				<img class="navbar__logo logo--dark" src="/images/logo-header-dark.png" alt="{{ site.Params.siteName }}">
			</a>
			<div aria-label="Navigation bar toggle" class="navbar__toggle" role="button" tabindex="0">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false">
					<title>Menu</title>
					<path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
				</svg>
			</div>
		</div>
		<div class="navbar__items navbar__items--right">
			<a class="navbar__item navbar__link" href="/">Home</a>
			<a class="navbar__item navbar__link" href="/news">News</a>
			<a class="navbar__item navbar__link" href="/projects">Projects</a>
      <a class="navbar__item navbar__link" href="/resource">Resources</a>
			<a class="displayOnlyInLargeViewport_16CL button button--primary" href="https://git.qoto.org/flear" style="margin:0;margin-left:15px">FLEAR GITLAB →</a>
		</div>
	</div>
	<div role="presentation" class="navbar-sidebar__backdrop"></div>
	<div class="navbar-sidebar">
		<div class="navbar-sidebar__brand">
			<a aria-current="page" class="navbar__brand active" href="/">
				<img class="navbar__logo logo--light" src="/images/logo-header-light.png" alt="Goblin">
				<img class="navbar__logo logo--dark" src="/images/logo-header-dark.png" alt="Goblin">
			</a>
		</div>
		<div class="navbar-sidebar__items">
			<div class="menu">
				<ul class="menu__list">
					<li class="menu__list-item">
						<a class="menu__link" href="/">Home</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="/news">News</a>
					</li>
					<li class="menu__list-item">
						<a class="menu__link" href="/projects">Projects</a>
					</li>
          <li class="menu__list-item">
						<a class="menu__link" href="/resource">Resources</a>
					</li>
					<div style="margin:5px;margin-top:15px"></div>
					<a class="button button--block button--primary" href="https://git.qoto.org/flear">OUR GITLAB →</a>
				</ul>
			</div>
		</div>
	</div>
</nav>
