<div class='col-md-4 side-menu'>
  <nav class='menu sub-nav'>
    <span class="menu-heading">Categories</span>
    {{ $hereLink := .Permalink }}
    {{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
     {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
       <a href="{{ .RelPermalink }}" class='menu-item tag{{ if (eq .Permalink $hereLink) }} selected{{ end }}' data-slug='{{ .LinkTitle }}' title="All pages with tag <i>{{.LinkTitle}}</i>">{{.LinkTitle}} ({{$cnt}})</a>
     {{end}}
   {{end}}
  </nav>
  <br>
   {{ partial "microblog.html" . }}
</div>
