{{ partial "top_list_resource.html" . }}

 {{ $paginator := .Paginate .Data.Pages }}
 <div class='row'>
   <div class='col-md-8'>
     {{ partial "paginator.html" . }}
 {{ range $index, $element := $paginator.Pages }}

 <article class='post'>
   <header class='post-header'>
     <h2 class='post-title'>
       <a href="{{ .Permalink }}">{{ .Title}}</a>
       {{ if .Params.link }} &mdash; <a href="{{.Params.link}}">🔗</a>{{end}}
     </h2>
   </header>
 </article>

 {{ end }}

 {{ partial "paginator.html" . }}

 </div>
 {{ partial "side_menu_taxonomy.html" . }}
 </div>

 {{ partial "bottom_list.html" . }}
