<!--
0: Title
1: Link out
2: left bottom text
3: right bottom text
inner: description
-->

<div class="col">
  <a class="card" {{ if .Get 1 }}href="{{ .Get 1 }}"{{ end }}>
    <div class="card__body">
      <h4 style="margin:0;text-transform:capitalize">{{ .Get 0 }}</h4>
      <small>{{ .Inner }}</small>
    </div>
    {{- if (or (.Get 2) (.Get 3) )}}
    <hr style="margin:15px 0 10px 0">
    <div style="display:flex;flex-direction:row;justify-content:space-between;padding:0 15px 10px 15px;font-size:0.8em">
      <div>{{ .Get 2 }}</div>
      <div>{{ .Get 3 }}</div>
    </div>
    {{- end }}
  </a>
</div>
